
.idea/
.esphome/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/partitions.csv

__pycache__/
*.py[cod]
*$py.class
/.vs

secrets.yaml
test.yaml
**/*.yaml

.idea/
.esphome/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/partitions.csv

__pycache__/
*.py[cod]
*$py.class
/.vs

yml-mine/
yaml-users/
yaml-snippets/
tests/
**/*.yml
secrets.yaml
components/jk_rs485_sniffer/old_snif.cpp
**/*.sh
